<!DOCTYPE html>
<html lang="{{ user.language.code }}" dir="{{ user.language.dir }}">
<head>
  {% hook 'head:start' %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{{ store.name }}{% endblock %}</title>

  <link rel="stylesheet" href="{{ theme.font.path|cdn }}">
  <link rel="stylesheet" href="{{ 'fonts/sallaicons.css'|cdn }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ 'app.css' | asset }}">

  <style>
    :root {
      --color-primary: {{ theme.color.primary }};
      --color-primary-reverse: {{ theme.color.reverse_text }};
      --font-main: {{ theme.font.name }};

      --dar-olive: #404928;
      --dar-brown: #562726;
      --dar-dark: #171310;
      --dar-cream: #D3D2CF;
      --dar-cream-light: #E8E7E5;
      --dar-cream-bg: #F7F7F6;
    }

    body {
      font-family: var(--font-main), 'IBM Plex Sans Arabic', sans-serif;
    }
  </style>

  {% hook 'head' %}
  {% hook 'head:end' %}
</head>
<body class="font-dar antialiased bg-dar-cream-50 text-dar-dark">
  {% hook 'body:start' %}

  {% component 'header.header' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% component 'footer.footer' %}

  {% if user.type == 'guest' %}
    <salla-login-modal></salla-login-modal>
  {% endif %}

  <script defer crossorigin="anonymous" src="{{ 'app.js' | asset }}"></script>
  {% block scripts %}{% endblock %}

  {% hook 'body:end' %}
</body>
</html>
