<!DOCTYPE html>
<html lang="{{ user.language.code }}" dir="{{ user.language.dir }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ theme.settings.set('placeholder', 'images/placeholder.png' | cdn) }}

    {% hook 'head:start' %}
    {% hook head %}

    {% block styles %}{% endblock %}

    <link rel="stylesheet" href="{{ 'app.css' | asset }}">
    <link rel="stylesheet" href="{{ theme.font.path|cdn }}">
    <link rel="stylesheet" href="{{ 'fonts/sallaicons.css'|cdn }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <style>
        :root {
            --font-main: '{{ theme.font.name }}';
            --color-primary: {{ theme.color.primary }};
            --color-primary-dark: {{ theme.color.darker(0.15) }};
            --color-primary-light: {{ theme.color.lighter(0.15) }};
            --color-primary-reverse: {{ theme.color.reverse_text }};
            --dar-olive: #404928;
            --dar-brown: #562726;
            --dar-dark: #171310;
            --dar-cream: #D3D2CF;
        }
    </style>
    {% hook 'head:end' %}
</head>
<body id="app" class="overflow-x-hidden {% hook 'body:classes' %}">
<div class="app-inner flex flex-col min-h-full">
    {% hook 'body:start' %}
    {% component 'header.header' %}
    <main id="main-content" role="main">
        {% block content %}{% endblock %}
    </main>
    {% component 'footer.footer' %}
</div>

{% hook 'body:end' %}

<script defer crossorigin="anonymous" src="{{ 'app.js' | asset }}"></script>

<salla-offer-modal></salla-offer-modal>
<salla-search></salla-search>

{% if user.type == 'guest' %}
    <salla-login-modal></salla-login-modal>
{% endif %}

{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}

{% block scripts %}{% endblock %}
</body>
</html>
